<h1> Text file analysis </h1>
<div class="row">
    <div class="col col-4 col-sm">
            <q-uploader
            style="max-width: 300px"
            url="http://localhost:8000/"
            label="Upload Text File (.txt)"
            multiple
            accept=".txt"
            method="POST"
            field__name="txt_file"
            v-on:click="start = !start"
          /> 
          <q-btn style="background: #0779e4; color: white" v-on:click="start = !start" label="Update list"></q-btn>
          <q-btn style="background: #525254; color: white" v-on:click="clear = !clear" label="Clear list"></q-btn>
    </div>
    <div class="col col-4 col-sm">
        <h4>Select file list</h4>
        <q-select v-model="Document_sel" :options="upfiles"></q-select>
    </div>
    <div class="col col-4 col-sm">
        <h6>General statistics</h6>
        <p v-text="msg"><br /></p>
    </div>
</div>
<div class="row">
    <div class="col col-6 col-sm">
        <h4>Zipf distribution</h4>
        <plotly :data="zipfplot" :layout="layzipf"></plotly> 
    </div>
    <div class="col col-6 col-sm">
        <h4>Symbol distribution</h4>
        <plotly :data="symb_distr" :layout="laysymb"></plotly> 
    </div>
</div>
<h2> Markov chain analysis </h2>
<div class="row">
    <div class="col col-6 col-sm">
        <h4>select symbol</h4>
        <q-select v-model="markov_sel" :options="Markov_opts"></q-select>
    </div>
    <div class="col col-6 col-sm">
        <h4 v-text="graphname"></h4>
        <plotly :data="markovprobdist" :layout="laymarkov"></plotly> 
    </div>
</div>
<div class="row">

</div>
<div class="row">
    <div class="col col-3">
        <h5>Length of generated text</h5>
        <q-slider v-model="markov_length" :label="true" :min="10" :max="200"></q-slider>
    </div>
    <div class="col col-3">
        <q-btn style="background: #da7c2e; color: white" v-on:click="generateM = !generateM" label="Generate"></q-btn>
    </div>
    <div class="col st-module">
        <h5>Generated text: <br></h5>
        <h6 v-text="genText"></h6>
    </div>
</div>
