<h4> Hello Genie! </h4>
<div class="row">
    <div class="col col-4 col-sm">
        <p>Upload box</p>
    </div>
    <div class="col col-4 col-sm">
        <q-btn style="background: #17a3d1; color: white" v-on:click="start = !start" label="Start"></q-btn>
    </div>
    <div class="col col-4 col-sm">
        <p>General statistics</p>
        <p v-text="msg"><br /></p>
    </div>
</div>
<div class="row">
    <div class="col col-6 col-sm">
        <p>Zipf</p>
        <plotly :data="zipfplot"></plotly>
    </div>
    <div class="col col-6 col-sm">
        <p>Symbol dist</p>
        <plotly :data="symb_distr"></plotly>
    </div>
</div>
<div class="row">
    <div class="col col-6 col-sm">
        <p>select symbol</p>
        <q-select v-model="markov_sel" :options="Markov_opts"></q-select>
    </div>
    <div class="col col-6 col-sm">
        <p v-text="graphname"></p>
        <plotly :data="markovprobdist"></plotly>
    </div>
</div>
<div class="row">
    <div class="col col-3">
        <p>slider</p>
        <q-slider v-model="markov_length" :label="true" :min="10" :max="200"></q-slider>
    </div>
    <div class="col col-3">
        <q-btn style="background: #da7c2e; color: white" v-on:click="generateM = !generateM" label="Generate"></q-btn>
    </div>
    <div class="col">
        <p>Generated text</p>
        <h6 v-text="genText"></h6>
    </div>
</div>
